:root{
	--blue-1: #011f4b;
	--blue-2: #03396c;
	--blue-3: #005b96;
	--blue-4: #6497b1;
	--blue-5: #b3cde0;
}

body {
	font-family: 'Segoe UI', Roboto, sans-serif;
	background-color: var(--blue-5);
	color: var(--blue-1);
}

#content {
     margin-left: 20px;
}

/* navbar */
.navbar-default {
	background-color:var(--blue-1);
	border-color: var(--blue-2);
}
.navbar-default .navbar-nav > li > a {
	color: white;
}
.navbar-default .navbar-nav > li > a:hover {
	color: var(--blue-4);
}

/* buttons */
button, .primary-btn {
	background-color: var(--blue-3);
	color: white;
	padding: 8px 15px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.2s;
}

button:hover, .primary-btn:hover {
	background-color: var(--blue-2);
}