{% extends "layout.html" %}

{% block title %}Start Posting{% endblock %}

{% block content %}
  <h1>Tell Us Why?</h1>
  <h3>Defend your favorite genres and be open to others!</h3>
  
  <p>Some ideas...
  	<li>
  	"My favorite genre is __ because ..."
  	</li>
  	<li>
  	"The best genre of music has to be __. Artists like ... make the best __"
  	</li>
  </p>
<br>

<!-- add post -->
<form action="/create_post" method="POST">
    <textarea name="content" rows="4" cols="60" placeholder="write post..." required></textarea><br>
    <button type="submit">Post</button>
</form>

<hr>

<!-- all posts -->

<!-- ><pre>
{{ dump_user_data }}
</pre> -->

{% endblock %}
